.navbar-default {
  background: white;
  margin-bottom: 5px;
}

.mobile-show {
  display: none;
}

@media (min-width: 768px) {
  .navbar-default {
    background: white;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .mobile-show {
    display: block;
  }
}


.response-body {
  margin-bottom: 50px;
}
