<nav class="navbar navbar-default test">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNav">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="https://www.ibm.com/watson/">
        <img alt="Brand" src="assets/img/ibm/watson/inline/watson-inline-pos.png" style="height:25px">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="topNav">
      <ul class="nav navbar-nav">
        <li class="mobile-show"><a (click)="showWatsonDetails()"> What does Watson know? </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="logout()"> Logout </a></li>
      </ul>
    </div>
  </div>
</nav>
